{% include "./header.html" %}
{% include "./title.html" %}

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-4" id="gene_list">
            {% block gene_list %}
            <h2>D. Bucheria Genes</h2>
            <table>
                <th> gene list </th>
                {% for gene in master_genes  %}
                    <tr> <td> <a href="/gene/{{gene.id}}"> {{gene}} </a>  </td> </tr>
                {% endfor %}                 
            </table>
            {% endblock gene_list %}                        
        </div>

        <div class="col-sm-8" class="content">
            {% block content %} 
                Did not render content 
            {% endblock content %} 
                        
        </div>
    </div>
</div>    


{% include "./footer.html" %}