{% extends "./base.html" %}
{% load bootstrap4 %}
{% block content %}
    <form method="post" action="/changePassword/">
        {% csrf_token %}
        <label for=""> Enter your username </label>
        <input type="text" name="username">
        <br>
        <label for=""> Enter old password</label>
        <input type="password" name="password">
        <br>
        <label for=""> Enter new password</label>
        <input type="password" name="newPassword1">
        <br>
        <label for=""> Enter new password again</label>
        <input type="password" name="newPassword2">
        <br>
        <input type="submit" value="Change Password">
    </form>
{% endblock content %}