<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Toy Gene data website">
        <meta name="keywords"
            content="HTML,gene,genes,advanced,web,development">
        <meta name="author" content="D.Buchan">
    </head>
 <body>
     <div id="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/202002_Laboratory_instrument_dna.svg" alt="dna logo" width="50px" height="50px">
        <h1>Gene Browser</h2>
    </div>
     <div id="navigation">
        <a href="/">Home</a>
     </div>

     <div id="content">
         <p>This is some holder content before we develop the application</p>
    </div>
 
    <div id="footer">
        <hr>
        <p>Author: D. Buchan. Date: 23rd April.</p>
    </div>
 </body>
</html>