<nav class="navbar navbar-expand-md sticky-top flex-column"> 
    <div class="w-100 d-flex"> 
        <div class="navbar-header" id="header"> 
            <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/202002_Laboratory_instrument_dna.svg" alt="dna logo" width="50px" height="50px">
            <h1 id="application_title">Gene Browser</h1>            
        </div>
    </div>

    <div class="w-100 d-flex"> 
        <ul class="navbar-nav mr-auto" id="navigation">
            <li class="nav-item-active"><a class="nav_link" href="/">Home&nbsp;</a></li>
            <li class="nav-item-active"><a class="nav_link" href="https://www.ebi.ac.uk">EBI&nbsp;</a></li>
            <li class="nav-item-active"><a class="nav_link" href="https://www.uniport.org">Uniport&nbsp;</a></li>
            {% if user.is_authenticated%}
                <li class="nav-item-active">Hello {{user.username}}</a></li>
                <li class="nav-item-active"><a class="nav_link" href="../logout/">Logout&nbsp;</a></li>
                {%else %}        
                <li class="nav-item-active"><a class="nav_link" href="/register">Register&nbsp;</a></li>
                <li class="nav-item-active"><a class="nav_link" href="/login">Login&nbsp;</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

